<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @kidsquiz105.category %>
</p>

<%= link_to 'Edit', edit_kidsquiz105_path(@kidsquiz105) %> |
<%= link_to 'Back', kidsquiz105s_path %>
